<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        body {
            background: #ffc107;
            background: linear-gradient(to right, #da684c, #fd6262);
        }

        .bg {
            background-image: url(pru3.png);
            background-position: center center;

        }
    </style>

</head>
<body>
    <div class="appSistema" id="appSistema">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc107;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">ECOEdu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="matricula.html">Matricula Alumno</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="registro.html">Registrar Alumnos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid w-75 bg-warning mt-4 ">
            <div id="carAlumno">

                <div class="row">

                    <div class=" col bg d-none d-lg-block container-fluid">
                    
                    </div>
                    <div class="col rounded">
                        <div class="text-lg-end">
                            <img src="icono.png" width="58" alt="" class="m-1">
                            <h2 class="fw-bold text-center py-3 text-black">Seleccione su horario</h2>
                        </div>

                        <!--Para el registro-->

                        <form method="post" @submit.prevent="guardarAlumno" @reset="nuevoAlumno">
                            <div class="row g-3">
                                
                                <div class="col-md-6">
                                    <label for="codAlumnoMateria" class="from-label text-black">verificar Alumno</label>
                                    <input type="text" class="form-control" id="codAlumnoMateria" 
                                    pattern="[A-Za-zñÑáéíóúü]{4}[0-9]{6}"  placeholder="Codigo Alumno" required text = "text">
                                </div>
                                
                                <div class="col-md-6">
                                    <br>
                                    <input class="btn btn-primary" type="button" onclick="verificarAlumno()" value="Enviar">
                                </div>
                                <div id="error">hhh</div>

                                <!--Para controlar lo que se mostrara-->
                                <div id="escon" class="row" style="visibility:visible;">
              

                                    <div class="input-group mb-4">

                                    <div class="col-md-12">
                                        <p></p>
                                        <h4><label for="materia1" class="form-label text-black">Programacion IV </label></h4>
                                        <select id="materia1" class="form-select" v-model="alumno.mat1" placeholder="Buscar Aqui"
                                        aria-label="Default select example">
                                        <option value="1">Matutino: LU 7:00 a 8:40</option>
                                        <option value="2">Vispertino: LU 1:00 a 2:30</option>
                                        <option value="3">No Cursa</option>
                
                                    </select>
                                    </div>
                                    <div class="col-md-12">
                                        <p></p>
                                        <h4><label for="materia2" class="form-label text-black">Base de Datos</label></h4>
                                        <select id="materia2" class="form-select" v-model="alumno.mat2" placeholder="Buscar Aqui"
                                        aria-label="Default select example">
                                        <option value="1">Matutino: MA 10:30 a 12:20</option>
                                        <option value="2">Vispertino: MI 1:00 a 2:30</option>
                                        <option value="3">No Cursa</option>
                                    </select>
                                    </div>
                                    <div class="col-md-12">
                                        <p></p>
                                        <h4><label for="materia3" class="form-label text-black">Electronica</label></h4>
                                        <select id="materia3" class="form-select" v-model="alumno.mat3" placeholder="Buscar Aqui"
                                        aria-label="Default select example">
                                        <option value="1">Matutino: JU 8:40 a 10:30</option>
                                        <option value="2">Matutino: JU 7:00 a 8:40</option>
                                        <option value="3">No Cursa</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <p></p>
                                        <h4><label for="materia4" class="form-label text-black">Ingles Tecnico</label></h4>
                                        <select id="materia4" class="form-select" v-model="alumno.mat4" placeholder="Buscar Aqui"
                                        aria-label="Default select example">
                                        <option value="1">Matutino: MI 7:00 a 8:30</option>
                                        <option value="2">Matutino: MI 8:40 a 10:30</option>
                                        <option value="3">No Cursa</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <p></p>
                                        <h4><label for="materia5" class="form-label text-black">Ing.de Software </label></h4>
                                        <select id="materia5" class="form-select" v-model="alumno.mat5" placeholder="Buscar Aqui"
                                        aria-label="Default select example">
                                        <option value="1">Matutino: JU 10:40 a 12:20</option>
                                        <option value="2">Matutino: JU 1:00 a 2:30</option>
                                        <option value="3">No Cursa</option>
                                        </select>
                                    </div>
                                <p></p>
                                <!--Para los botones-->
                                <div class="row">
                                    <div class="col col-md-5 text-center">
                                        <div v-if="alumno.mostrar_msg"
                                            class="alert alert-primary alert-dismissible fade show" role="alert">
                                            {{ alumno.msg }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"> <span aria-hidden="true">&times;</span>
                                        </div>
                                    </div>
                                </div>
                                <p></p>
                                <div class="row g-2">
                                    <div class="col col-md-6 text-center">
                                        <input class="btn btn-success w-100" type="submit" value="Guardar">
                                    </div>
                                    <div class="col col-md-6 text-center">
                                        <input class="btn btn-primary w-100 " type="reset" value="Limpiar">
                                    </div>
                                </div>
                                <p></p>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Para la busqueda del alumno-->
            <div class="card text-white bg-white w-100" id="carBuscarAlumno">
                <div class="card-header bg-danger ">
                    Busqueda de Alumnos

                    <button type="button" class="btn-close" data-bs-dismiss="alert" data-bs-target="#carBuscarAlumno"
                        aria-label="Close"></button>
                </div>
                <div class="card-body ">
                    <table class="table table-dark table-hover w-100">
                        <thead>
                            <tr>
                                <th colspan="10">
                                    Buscar: <input @keyup="buscandoAlumno" v-model="buscar" placeholder="Buscar Alumno"
                                        class="form-control w-100" type="text">
                                </th>
                            </tr>
                            <tr>                                                            
                                <th>CODIGO</th>
                                <th>CARRERA</th>
                                <th>Programacion IV</th>
                                <th>Base de Datos</th>
                                <th>Electronica</th>
                                <th>Ingles Tecnico</th>
                                <th>Ing.de Software</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="alumno in alumnos" @click="modificarAlumno(alumno)" :key="alumno.idAlumno">                               
                                <td>{{alumno.codigo}}</td>                          
                                <td>{{alumno.carrera}}</td>
                                <td>{{alumno.mat1}}</td>
                                <td>{{alumno.mat2}}</td>
                                <td>{{alumno.mat3}}</td>
                                <td>{{alumno.mat4}}</td>
                                <td>{{alumno.mat5}}</td>
                                <td>
                                    <button class="btn btn-danger" @click="eliminarAlumno(alumno)">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>

        var codAlumnoMateria = document.getElementById('codAlumnoMateria');
        var error = document.getElementById('error');
        var cantMaterias = document.getElementById('cantMaterias');


        function verificarAlumno(){
            console.log('Enviando Formulario');

            var mesajesError = [];

            if(codAlumnoMateria.value === null || codAlumnoMateria.value === ''){
                mesajesError.push('El codigo no esta registrado')

            }else if(codAlumnoMateria.value === 'USIS027920'){
                mesajesError.push('El alumno SI concide')

                var escon = document.getElementById('escon');
                document.getElementById('escon').style.visibility = 'visible';

            }

            error.innerHTML = mesajesError.join(', ');
            
            return false;
        }
    </script>

    <script>

        const db_sistema = openDatabase('db_sistema', '1.0', 'Sistema', 5 * 1024 * 1024);
        if (!db_sistema) {
            alert('Lo siento, el navagador no soporta BD offline');
        }
        var app = new Vue({
            el: '#appSistema',
            data: {
                buscar: '',
                alumnos: [],
                alumno: {
                    accion: 'nuevo',
                    mostrar_msg: false,
                    msg: '',
                    idAlumno: '',              
                    codigo: '',
                    carrera: '',
                    mat1:'',
                    mat2:'',
                    mat3:'',
                    mat4:'',
                    mat5:''
                }
            },

            methods: {
                buscandoAlumno() {
                    this.obtenerAlumnos(this.buscar);
                    /*
                    //console.log(this.buscar);
                    this.alumnos.filter(alumno => {
                        if(alumno.nombres.toLowerCase().indexOf(this.buscar.toLowerCase()) > -1){
                            return alumno;
                        }
                    });
                    */
                },
                eliminarAlumno(alumno) {
                    
                    if (confirm(`Estas a punto de ELIMINAR las materias del alumno ${this.alumno.nombres}`)) {
                        this.alumno.idAlumno = alumno.idAlumno;
                        this.alumno.accion = 'eliminar';  
                        this.guardarAlumno();
                    }
                    
                   
                },
                modificarAlumno(datos) {
                    this.alumno = JSON.parse(JSON.stringify(datos));
                    this.alumno.accion = 'modificar';
                },
                guardarAlumno() {
                    var num = "1"
                    nombrealumno = this.alumno.nombres;
                    let sql = '',
                        parametros = [];
                    switch(num == "1")
                    {
                    case (this.alumno.mat1 == "1"):                      
                        sql = 'UPDATE alumnos SET mat1=" LU 7:00am a 8:50am" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat1
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat1 == "2"):                      
                        sql = 'UPDATE alumnos SET mat1=" LU 1:00pm a 2:30pm" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat1
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat1 == "3"):                      
                        sql = 'UPDATE alumnos SET mat1="No Cursa" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat1
                    }

                    //Para la 2 materia
                    switch(num == "1")
                    {
                    case (this.alumno.mat2 == "1"):                      
                        sql = 'UPDATE alumnos SET mat2=" MA 10:30am a 12:20am" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat2
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat2 == "2"):                      
                        sql = 'UPDATE alumnos SET mat2=" MI 1:00pm a 2:30pm" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat2
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat2 == "3"):                      
                        sql = 'UPDATE alumnos SET mat2="No Cursa" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat2
                    }
                    
                    //Para la 3 materia
                    switch(num == "1")
                    {
                    case (this.alumno.mat3 == "1"):                      
                        sql = 'UPDATE alumnos SET mat3="JU 8:40am a 10:30am" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat3
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat3 == "2"):                      
                        sql = 'UPDATE alumnos SET mat3="JU 7:00am a 8:40am" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat3
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat3 == "3"):                      
                        sql = 'UPDATE alumnos SET mat3="No Cursa" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat3
                    }

                    //Para la 4 materia
                    switch(num == "1")
                    {
                    case (this.alumno.mat4 == "1"):                      
                        sql = 'UPDATE alumnos SET mat4="MI 7:00am a 8:30am" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat4
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat4 == "2"):                      
                        sql = 'UPDATE alumnos SET mat4="MI 8:40am a 10:30am" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat4
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat4 == "3"):                      
                        sql = 'UPDATE alumnos SET mat4="No Cursa" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat4
                    }

                    //Para la 5 materia
                    switch(num == "1")
                    {
                    case (this.alumno.mat5 == "1"):                      
                        sql = 'UPDATE alumnos SET mat5="JU 10:40am a 12:20pm" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat5
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat5 == "2"):                      
                        sql = 'UPDATE alumnos SET mat5="JU 1:00pm a 2:30pm" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat5
                    }
                    switch(num == "1")
                    {
                    case (this.alumno.mat5 == "3"):                      
                        sql = 'UPDATE alumnos SET mat5="No Cursa" WHERE idAlumno=?';
                        parametros = [this.alumno.idAlumno];
                        numselec = this.alumno.mat5
                    }
  
                    db_sistema.transaction(tx => {
                        tx.executeSql(sql,
                            parametros,
                            (tx, res) => {
                                this.nuevoAlumno();
                                this.obtenerAlumnos();
                                this.alumno.mostrar_msg = true;
                                if (numselec == "4") {
                                    this.alumno.msg = `Se anuló la matricula del alumno ${nombrealumno}`;
                                } else {
                                    this.alumno.msg = `Las materias del alumno ${nombrealumno} ha sido matriculadas con exito.`;
                                }
                            },
                            (tx, err) => {
                                this.alumno.mostrar_msg = true;
                                this.alumno.msg = `Error al matricular las materias del Alumno: ${err.message}`;
                            });
                    });
                },
                obtenerAlumnos(valor = '') {
                    let respuesta = db_sistema.transaction(tx => {
                        tx.executeSql(`SELECT * FROM alumnos WHERE nombres like "%${valor}%" OR codigo like "%${valor}%" OR apellidos like"%${valor}%" ORDER BY apellidos`, [], (index, datos) => {
                            this.alumnos = [];
                            for (let i = 0; i < datos.rows.length; i++) {
                                this.alumnos.push(datos.rows[i]);
                            }
                        });
                    });
                },
                nuevoAlumno() {
                    this.alumno.accion = 'nuevo';
                    this.alumno.msg = '';               
                    this.alumno.codigo = '';
                    this.alumno.carrera = '';
                    this.alumno.mat1='';
                    this.alumno.mat2='';
                    this.alumno.mat3='';
                    this.alumno.mat4='';
                    this.alumno.mat5='';

                }
            },
            created() {
                this.obtenerAlumnos();
            }
        })
    </script>



</body>
</html>